<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Teklif Listesi</title>
</head>
<body>
    <h1>Teklif Listesi</h1>
    <table>
        <thead>
            <tr>
                <th>Firma Adı</th>
                <th>Teklif Adı</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            {% for teklif in teklifler %}
            <tr>
                <td>{{ teklif.firma }}</td>
                <td>{{ teklif.teklif_adi }}</td>
                <td>
                    <a href="#">PDF Oluştur</a> |
                    <a href="#">E-Posta Gönder</a> |
                    <button onclick="window.print();">Yazdır</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<hr>
<a href="{% url 'satis:musteri_listele' %}">MUSTERI LISTESI</a>
<hr>
</body>
</html>
