<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Firma Formu</title>
    <!-- Burada stil ve JavaScript dosyaları eklenebilir -->
</head>
<body>
<h1>Firma Formu</h1>
<form method="POST">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}
    {{ form.as_p }}
    <button type="submit">Kaydet</button>
</form>

<hr>
<a href="{% url 'satis:musteri_listele' %}">MUSTERI LISTESI</a>
<hr>
<a href="{% url 'user:logout' %}">CIKIS YAPALIM</a>
</body>
</html>
