{% block body %}

    <section class="services-area section-gap">
        <div class="container">
            <b>
                <h1>401 Hatası</h1>
                <p>Http durum kodu hatalarından birisi olan 401 hatası kullanıcıların kimliğinin yada hesabının sunucu</p>
                <p>tarafından doğrulanmaması sonucunda ortaya çıkar. Örnek olarak girmek istediğiniz sayfaya sadece üyeler</p>
                <p>girebiliyor fakat siz üye değilseniz bu hatayı alabilirsiniz. Ya da başka bir açıdan bakarsak admin</p>
                <p>paneli sayfasına üye iken girmek isterseniz 401 hata kodunu alabilirsiniz.</p>
            </b>
        </div>
    </section>

{% endblock %}
