{% extends 'base.html' %}
{% load static %}

<title>{% block title %}IMALAT daki TEMEL AKSIYONLAR{% endblock %}</title>

{% block body %}
<div class="container-fluid mt-3">
    <div class="bg-success">
        <img src="{% static 'img/metaxdoor-doner-kapı-revolving-door.jpg' %}" alt="imalat resmi"
             style="max-height: 7rem;"/>
    </div>
    <div class="services-area section-gap">
        <div class="container">
            {% if request.user.is_authenticated %}
            <div class="row">
                <div class="col-md-12 mt-2">
                    <p class="text-danger, bg-success">
                    <h4>URETIM FALIYETLERINDE IHTIYAC DUYULAN ISLEMLER</h4>
                    <hr>
                </div>
            </div>

            <div class="container">
                <div class="row row-cols-1 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card h-100">
                            <a href="{% url 'home:mr30_isemri_kapilar' %}"><i class="fa-solid fa-pen-to-square"
                                                                  style="font-size: 27px;"></i></a>
                            <div class="card-body">
                                <a href="{% url 'home:mr30_isemri_kapilar' %}"><h4 class="card-title text-success">Is Emri</h4></a>
                                <p class="card-text">Farkli kapi tiplerinin eski | yeni is emri girisidir.</p>
                                <a href="{% url 'home:mr30_isemri_kapilar' %}" class="btn btn-outline-success">GIRIS YAP</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-body-secondary">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <a href="#"><i class="fa-solid fa-database" style="font-size: 27px;"></i></a>
                            <div class="card-body">
                                <a href="#"><h4 class="card-title text-success">Arsiv</h4></a>
                                <p class="card-text">Yapilmis islerin bilgi, belge, foto, video bilgileri</p>
                                <a href="#" class="btn btn-outline-success">GIRIS YAP</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-body-secondary">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <a href="#"><i class="fa-solid fa-photo-film" style="font-size: 27px;"></i></a>
                            <div class="card-body">
                                <a href="#"><h4 class="card-title text-success">Egitim</h4></a>
                                <p class="card-text">Uretimi aciklayan, resim, video, bilgi, belge notlar.</p>
                                <a href="#" class="btn btn-outline-success">GIRIS YAP</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-body-secondary">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <a href="#"><i class="fa-solid fa-id-card" style="font-size: 27px;"></i></a>
                            <div class="card-body">
                                <a href="#"><h4 class="card-title text-success">PDF Destek</h4></a>
                                <p class="card-text">Urun teknik detayin, uyarici dokumanlarin olusturulmasi</p>
                                <a href="#" class="btn btn-outline-success">GIRIS YAP</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-body-secondary">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <a href="{% url 'export_evrak:export_evrak_homepage' %}"><i class="fa-solid fa-file-circle-check" style="font-size: 27px;"></i></a>
                            <div class="card-body">
                                <a href="{% url 'export_evrak:export_evrak_homepage' %}"><h4 class="card-title text-success">Export Evrak</h4></a>
                                <p class="card-text">Bitmis islerin sevkiyat evraklarinin olusturulmasi</p>
                                <a href="{% url 'export_evrak:export_evrak_homepage' %}" class="btn btn-outline-success">GIRIS YAP</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-body-secondary">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            {% endif %}
        </div>

        {% include 'footer.html' %}
    </div>
</div>
{% endblock %}
